html, body {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

#gameboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
}

#canvas {
  width: 100%;
  object-fit: contain;
  align-self: center;
  box-sizing: border-box;
  background-color: #e3e3e3;
}

.start-btn {
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  cursor: pointer;
  color: #1a1a1a;
  background-color: #f2f2f2;
  border: 3px outset slategrey;
  border-radius: 4px;
}

.splash-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c2c2c2;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.splash-container h1 {
  margin-top: 0;
  color: #1a1a1a;
}

.dialog-container {
  width: 80%;
  height: 80%;
  margin: 5%;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog {
  background-color: #f2f2f2;
  border-radius: 2px;
  border: 4px double #1a1a1a;
  overflow-y: scroll;
  border-left-color: #0000ff;
  border-top-color: #0000ff;
  border-right-color: #ff0000;
  border-bottom-color: #ff0000;
}

.dialog h1 {
  margin-bottom: 0;
}

.dialog p {
  max-width: 400px;
  padding: 2% 4%;
}

.close-btn {
  width: 40px;
  height: 40px;
  display: flex;
  margin: 2%;
  background-color: transparent;
  color: #ff0000;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (min-width: 601px) {
  .dialog-container {
    width: 75%;
    max-width: 500px;
  }

  .dialog p {
    max-width: 450px;
  }
}